* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title-app-block {
  margin: 10px;
}

/* Quotes Block */

.quote-block {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;

  width: 700px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  background-color: lightblue;
  box-shadow: 5px 4px 5px lightblue;
}

.quote-generate-button-block {
  padding: 20px;
}

.quote-generate-button {
  padding: 10px;
  margin-bottom: 30px;
}

span {
  color: red;
  font-size: 20px;
}

.add-block {
  font-size: 18px;
  margin: 10px;
}

/* Responsive styles */

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  .quote-block {
    width: 100%;
    margin: 10px;
  }
}

